$background-color: rgb(153, 213, 248);
$text-color:rgb(73, 76, 94);
$text-size: 105%;
$text-weight:500;
$link-color: rgb(14, 14, 218);
$content-bg-color: azure;
$content-width: 70%;
$content-padding: 2%;

#chatbot-container{
    height: 24em;
    overflow-y: auto;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column-reverse;
    
  }
  #ans-data{
      display: block;
      text-align: right;
  }
      
  #answer{
      font-size: $text-size;
      font-weight: $text-weight;
      color: $text-color;
      background-color: $background-color;
      border-radius: 3px;
      padding: 0.5%;
  }
  button{
    background-color: rgb(67, 135, 219);
    font-size: $text-size;
      font-weight: $text-weight;
      color:  rgb(220, 235, 212);
      border-radius: 3px;
      padding: 0.5%;
      margin: 0.5%;
      border: none;
  }

  .request h2,p{
    color: $text-color;
  }
  #contact-info{
    border-radius: 5px;
    display:block;
    width: 70%;
    background-color: $content-bg-color;
    padding: 2%;
    color: $text-color;
    font-size: $text-size;
  }
  #contact-info p{
    color: rgb(136, 134, 134);
  }
  #contact-info a{
    text-decoration: none;
    color: $link-color;
    font-size: 98%;
  }
  #resourses a{
    padding-left: 2%;
    text-decoration: none;
    font-size: $text-size;
    color: $link-color;
  }
#resourses h3{
    color: $text-color;
}
#resourses{
    background-color: $content-bg-color;
    width: $content-width;
    padding: $content-padding;
}
#reponse, #features{
  color: rgb(136, 134, 134);
  background-color: $content-bg-color;
    width: $content-width;
    padding: $content-padding;
}
#product-links{
  background-color: $content-bg-color;
  width: $content-width;
  padding: $content-padding;
}
#product-links a{
  color: $link-color;
  text-decoration: none;
}

